@model LoginViewModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

<div id="div-main">
<form asp-antiforgery="true" method="post" action="/Auth/Login/">
<h1>@(Model.Message??"Войдите")</h1>
<input type="text" id="UserName" name="UserName" placeholder="Логин"/><br />
<span asp-validation-for="UserName"></span><br />
<input type="password" id="Password" name="Password" placeholder="Пароль" /><br />
<span asp-validation-for="Password"></span><br />
<input class="btn btn-outline-success" type="submit" value="Войти" />
</form>
<p>Ещё нет аккаунта?</p> <a class="btn btn-outline-success" href="/Auth/RegisterIndex/">Зарегистрироваться</a>
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/log-script.js" asp-append-version="true"></script>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>