<script src="~/js/manage-script.js" asp-append-version="true"></script>
<div id="div-main">
    <h1>Управление аккаунтом</h1>

        <hr />
        <h2>Сменить ник</h2>
        <input type="text" name="userName" placeholder="Введите новый ник" /><br />
        <span id="changeusername-validation-username"></span><br />
        <input type="password" name="password" placeholder="Подтверждение пароля" /><br />
        <span id="changeusername-validation-password"></span><br />
        <button id="changeusername-button">Сменить никнейм</button>
        <span id="changeusername-summarize"></span>
        <hr />
    
        <h2>Сменить пароль</h2>
        <input type="password" name="oldPassword" placeholder="Старый пароль" /><br />
        <span id="changepassword-validation-oldpassword"></span><br />
        <input type="password" name="newPassword" placeholder="Новый пароль" /><br />
        <span id="changepassword-validation-newpassword"></span><br />
        <button id="changepassword-button">Сменить пароль</button>
        <span id="changepassword-summarize"></span>
</div>
