@model string
@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/sitestyle.css" />
    <div id="divreg">
    <form method="post" action="/Auth/Register">
    <h1>@(Model==null ? "Зарегистрируйтесь" : Model)</h1>
    <input type="text" id="UserName" name="UserName" placeholder="Ваш ник" /><br />
    <input type="password" id="Password" name="Password" placeholder="Пароль" /><br />
    <input type="password" id="password-repeat" placeholder="Повторите пароль" /><br />
    <input class="btn btn-outline-success" type="submit" id="btnreg" value="Зарегистрироваться"/><br />
    </form>
    <p>Уже есть аккаунт?</p> <a class="btn btn-outline-success" href="/Auth/Login/">Войдите</a>
    </div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/reg-script.js"></script>