<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/sitestyle.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-brand"><a id="main" href="/">Овощечат</a></div>
        <div class="nav-item"><a id="gc" href="/Home/Chat">Глобальный чат</a></div>
        <div class="nav-item"><a id="rooms" href="/Room/RoomIndex?type=connect">Комнаты</a></div>
    </nav>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/pinger.js"></script>
    <div>
        @RenderBody()
    </div>
</body>
</html>