@model ManageViewModel
<div id="div-main">
    <h1>@(Model.Message??"Личный кабинет")</h1>

        <hr />
        <h2>Сменить ник</h2>
            <form asp-antiforgery="true" action="/Manage/ChangeUsername" method="post">

                <input type="hidden" asp-for="IsNameChanging" value="true" />

                <input type="text" asp-for="UserName" placeholder="Введите новый ник" /><br />
                <span asp-validation-for="UserName"></span><br />

                <input type="password" asp-for="Password" placeholder="Подтверждение пароля" /><br />
                <span asp-validation-for="Password"></span><br />

                <input class="btn btn-outline-success" type="submit" value="Сменить никнейм" />

            </form>
        <hr />
    
        <h2>Сменить пароль</h2>
            <form asp-antiforgery="true" action="/Manage/ChangePassword" method="post">

                <input type="hidden" asp-for="IsNameChanging" value="false" />

                <input type="password" asp-for="OldPassword" placeholder="Старый пароль" /><br />
                <span asp-validation-for="OldPassword"></span><br />

                <input type="password" asp-for="NewPassword" placeholder="Новый пароль" /><br />
                <span asp-validation-for="NewPassword"></span><br />

                <input class="btn btn-outline-success" type="submit" value="Сменить никнейм">

            </form>
        <hr />

    <h2>Управление комнатами</h2>
    @foreach (var r in Model.ManagedRooms)
    {
        <a class="btn btn-outline-success" href="/Manage/ManageRoom?roomId=@r.RoomId">Комната @r.Name</a>
    }
    @if (!Model.ManagedRooms.Any())
    {   <form asp-antiforgery="true" action="/Room/Index" method="post">
        <h3>Вы не управляете ни одной комнатой. Вы можете <input type="submit" class="btn btn-outline-success" value="создать свою комнату" /></h3>
        <input type="hidden" name="type" value="create" />
    </form>
    }
    <hr />
    <a href="/Manage/Logout" class="btn btn-outline-danger" style="display:inline-block;">Выйти из аккаунта</a><br />
    <form asp-antiforgery="true" name="delaccform" action="/Manage/DeleteAccount" method="post" style="display:inline-block;">
    <input name="delaccsubmit"  type="submit" class="btn btn-outline-danger" value="Удалить аккаунт" /><br />
    <span id="delaccconfirmspan"></span>
    </form>
</div>

<script src="~/js/manage-script.js" asp-append-version="true"></script>