@model ChatViewModel
<div id="div-main">
    <h1>Глобальный чат</h1>
    <input id="msg" type="text" placeholder="Сообщение" />
    <button class="btn btn-outline-success" id="btnsendmsg">Отправить</button>
    <br />
    <div id="messages">
        @foreach(var msg in Model.LastMessages)
        {
            string text = $"{msg.DateTime.ToShortTimeString()} ";
            if (!string.IsNullOrEmpty(msg.SenderName)) 
                text += $"{msg.SenderName}:";
            text += msg.Text;
            <p style="background-color: @(msg.BgColor)">@text</p>
        }
    </div>
    <div id="users">

        @foreach(var user in Model.Users)
        {
            <p id="@user.UserName">Пользователь @user.UserName</p>
        }
    </div>
</div>
<script src="~/js/global-signalr.js" asp-append-version="true"></script>