@model ChatViewModel
<input id="msg" type="text" placeholder="Сообщение" />
<button class="btn btn-outline-success"id="btn">Отправить</button>

<div id="users">

    @foreach(var user in Model.Users)
    {
        <p id="@user.UserName">Пользователь @user.UserName</p>
    }
</div>
<div id="messages">
    @foreach(var msg in Model.LastMessages){
        <p>@(msg.DateTime.ToShortTimeString()) 
            @(msg.SenderName):@msg.Text
        </p>
    }
</div>

<script src="~/js/global-signalr.js"></script>