<input id="msg" type="text" placeholder="Сообщение" />
<button class="btn btn-outline-success"id="btn">Отправить</button>

<div id="users"></div>
<div id="messages"></div>

<script src="~/js/global-signalr.js"></script>
