@model BaseViewModel;

<h1>@Model.Message</h1>
<h2>Войти в глобальный чат:</h2>
@using(Html.BeginForm("Chat", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(model=>model.UserName, new {placeholder="Ваш никнейм"});
    <input class="btn btn-outline-success" type="submit" value="Войти в чат">
}
<hr />
<h2 style="display:inline-block;">Создать свою комнату</h2> 
@Html.ActionLink("Создать", "RoomIndex", "Room", new{type="create"}, new{@class="btn btn-outline-success"})
<hr />
<h2 style="display:inline-block;">Войти в существующую комнату</h2>
@Html.ActionLink("Войти", "RoomIndex", "Room", new{type="connect"}, new{@class="btn btn-outline-success"})