@model BaseViewModel;

<h1>@Model.Message</h1>
<h2>Войти в глобальный чат:</h2>
@using(Html.BeginForm("Chat", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(model=>model.UserName, new {placeholder="Ваш никнейм"});
    <input type="submit" value = "Войти в чат">
}
<hr />
<h2>Создать свою комнату</h2> 
@Html.ActionLink("Создать", "RoomIndex", "Room", new{type="create"}, new{style="display:inline-block;", @class="btn btn-outline-success"})
<hr />
<h2>Войти в существующую комнату</h2>
@Html.ActionLink("Войти", "RoomIndex", "Room", new{type="connect"}, new{style="display:inline-block;", @class="btn btn-outline-success"})