@model BaseViewModel;

<h1>@Model.Message</h1>
<h2 style="display:inline-block;">Войти в глобальный чат:</h2>
<a class="btn btn-outline-success" href="/Home/Chat">Войти</a>

<hr />
<h2 style="display:inline-block;">Создать свою комнату</h2> 
<form action="/Room/Index" method="post">
<input type="submit" class="btn btn-outline-success" value="Создать"/>
<input type="hidden" name="type" value="create" />
</form>
<hr />
<h2 style="display:inline-block;">Войти в существующую комнату</h2>
<form action="/Room/Index" method="post">
<input type="submit" class="btn btn-outline-success" value="Войти"/>
<input type="hidden" name="type" value="connect" />
</form>