@model BaseViewModel;

<h1>@Model.Message</h1>
<h2 style="display:inline-block;">Войти в глобальный чат:</h2>
<a class="btn btn-outline-success" href="/Home/Chat">Войти</a>

<hr />
<h2 style="display:inline-block;">Создать свою комнату</h2> 
<a class="btn btn-outline-success" href="/Room/RoomIndex?type=create">Создать</a>
<hr />
<h2 style="display:inline-block;">Войти в существующую комнату</h2>
<a class="btn btn-outline-success" href="/Room/RoomIndex?type=connect">Войти</a>
