@model RoomViewModel

@(Model.Message=="" ? $"Комната \"{Model.RoomName}\"" : Model.Message)


<input type="text" id="msg" />
<button id="btnsendmsg">Отправить</button>
<div id="messages"></div>



<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/signalr.js"></script>