@model RoomViewModel
<div id="div-main">
<h1>@(Model.Message ?? "Чат-комнаты")</h1>
@if(Model.Type=="create"){
        <form method="post" action="/Room/Create" name="createroomform">

            <input type="text" asp-for="RoomName" placeholder="Название комнаты" /><br>
            <span asp-validation-for="RoomName"></span><br>

            <label for="IsPrivate">Приватная комната</label>
            <input type="checkbox" asp-for="IsPrivate"><br>

            <input type="text" asp-for="RoomPassword" placeholder="Пароль комнаты"/><br>
            <span asp-validation-for="RoomPassword"></span><br>

            <input class="btn btn-outline-success" type="submit" value="Создать комнату" />
        </form>
}
else
{
    @if (Model.Rooms.Count() > 0)
    {
        @foreach (var v in Model.Rooms)
        {
            @using (Html.BeginForm("Connect", "Room", FormMethod.Post))
            {
                <p>Комната @v.Name</p><br />
                <p>Участников: @v.RoomUsers.Count</p><br />
                <input class="btn btn-outline-success" type="submit" value="Подключиться к комнате" />
                <hr />
                <input type="hidden" name="RoomName" id="RoomName" value="@v.Name"/>
            }
        }
    }
    else
    {
        <h2>
            На данный момент ещё ни одна комната не создана :( 
                Вы можете <a class="btn btn-outline-success" href="/Room/Index?type=create">создать свою</a>
        </h2>
    }
}
</div>

<script src="~/js/roomindex-script.js" asp-append-version="true"></script>