@model RoomViewModel
<div id="div-main">
<h1>@(Model.Message ?? "Чат-комнаты")</h1>
@if(Model.Type=="create"){
        <form method="post" action="/Room/Create" name="createroomform">

            <input type="text" asp-for="RoomName" placeholder="Название комнаты" /><br>
            <span asp-validation-for="RoomName"></span><br>

            <label for="IsPrivate">Закрытая комната</label>
            <input type="checkbox" asp-for="IsPrivate"><br>

            <input type="text" asp-for="RoomPassword" placeholder="Пароль комнаты"/><br>
            <span asp-validation-for="RoomPassword"></span><br>

            <input class="btn btn-outline-success" type="submit" value="Создать комнату" />
        </form>
}
else
{
    @if (Model.Rooms.Count() > 0)
    {
        @foreach (var v in Model.Rooms)
        {
            <form method="post" action="/Room/Connect">
            <p>Комната <b>@v.Name</b></p>
            <p>Участников: @v.RoomUsers.Count</p>
            @if(v.IsPrivate)
            {
                <label style="color:lightcoral;" for="RoomPassword">Это приватная комната. Введите пароль, чтобы войти</label>
                <input type="text" name="RoomPassword" id="RoomPassword" placeholder="Пароль" />
            }
            <input class="btn btn-outline-success" type="submit" value="Подключиться к комнате" />
            <hr />
            <input type="hidden" name="RoomName" id="RoomName" value="@v.Name"/>
            </form>
        }
    }
    else
    {
        <form action="/Room/Index" method="post">
        <h2>
            На данный момент ещё ни одна комната не создана :( 
                Вы можете <input type="submit" class="btn btn-outline-success" value="создать свою" />
        </h2>
        <input type="hidden" name="type" value="create" />
        </form>
    }
}
</div>

<script src="~/js/roomindex-script.js" asp-append-version="true"></script>